@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
    
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
}

input{
    background-color: hsl(158, 36%, 37%);
    width: 200px;
    height: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 0px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.container{
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    max-width: 500px;
    display:flex;
    flex-direction: row;

}
.foto img{
    max-width: 250px;
    border-radius: 10px;
}

.info {
    font-size: 11px;
    text-align: left;
    max-width: 200px;
    border: 25px solid white;
}

.modelo {
    hsl(212, 21%, 14%);
}

.info p {
    color: hsl(228, 45%, 44%);
}

.preco{
    color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: center;
    margin: 0px  25px;
}



